alembic
attrs
black[jupyter]
blinker
click
coverage
dnspython
email-validator
flake8
Flask
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
idna
iniconfig
isort
itsdangerous
Jinja2
jsonschema
jupyter
Mako
MarkupSafe
mccabe
mypy
mypy-extensions
numpy
opencv-python
packaging
pathspec
Pillow
platformdirs
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-cov
python-dotenv
ruff
scikit-learn
SQLAlchemy
toml
tomli
torch
torchvision
types-Flask-Migrate
types-wtforms
typing_extensions
Werkzeug
WTForms
