alembic
attrs
black[jupyter]
blinker
click
coverage
dnspython
email-validator
flake8
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask
idna
iniconfig
isort
itsdangerous
Jinja2
jsonschema
jupyter
Mako
MarkupSafe
mccabe
mypy-extensions
mypy
numpy
opencv-python
packaging
pathspec
Pillow
platformdirs
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest-cov
pytest
python-dotenv
scikit-learn
SQLAlchemy
toml
tomli
torch
torchvision
typing_extensions
Werkzeug
WTForms
